body {
  font-family: Calibri;
  color: #8784C7;
  padding: 10px;}

h1, h2, h3 {
  font-family: Georgia;
  color: #AD84C6;}

img.align-left {
  float: left;
  margin-right: 10px;}
img.align-right {
  float: right;
  margin-left: 10px;}
img.medium {
  width:250px;
  height: 250px;}

a:link {
  color: ##5D739A;}

a:visited {
  color: black;}

div {
  height: 300px;
  width: 400px;
  background-color: lightgray;}
